{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	],
	"importOrder": [
		"^[react]",
		"^./hooks",
		"^~/icons",
		"^@(?!/)",
		"^@/entities",
		"^@/features",
		"^@/widget",
		"^@/shared",
		"^./ui",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
