{
	"printWidth": 100,
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-tailwindcss"]
}
